/** BASIC STYLES **/
body {
	background-color: #f5f5f5;
}
.mdl-layout__content {
	padding: 5px;
	display: flex;
	flex-direction: row;
	height: 100%;
}
.mdl-layout__content > #data-config-contain {
	flex: 0 1 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.mdl-layout__content > #graph-contain {
	flex: 0 1 70%;
	height: 100%;
	margin-left: 5px;
}
.actions-flex {
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
}
.actions-flex > .spacer {
	flex: 1 1 auto;
}

/** PLOT CONFIG **/

#data-config-contain > .mdl-card {
	margin: 5px 0;
	width: 100%;
}
#data-config-contain > #graph-config {
	flex: 0 1 35%;
	display: flex;
}
#config {
	padding: 0 10px;
	overflow-y: auto;
        vertical-align: middle;
}
.config-range {
	width: 50px;
}

/** DATASETS AND FUNCTIONS **/
#data-src-card {
    flex: 0 1 65%;
    overflow: visible; /* Allows tooltips to roll outside in Chrome */
}
#data-src-card > .mdl-tabs {
	flex: 1 1 auto;
}
#data-src-card > #data-actions {
	flex: 0 1 min-content;
}
#datasets {
	height: calc(100% - 48px - 49px);
}
#data-table {
	width: 100%;
	height: 100%;
}
#data-table thead,
#data-table tbody,
#data-table tr,
#data-table th,
#data-table td {
	display: block;
}
#data-table > thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: calc(100% - 16px);
}
#data-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
#data-table > tbody {
	height: 200px;
	overflow-x: auto;
	overflow-y: auto;
}
#data-table tbody td,
#data-table thead th {
	width: 49%;
	float: left;
}

/** GRAPH CARD **/

#graph-contain {
    overflow: visible; /* Allows tooltips to roll outside in Chrome */
}

#graph-contain > #graph {
	width: 100%;
	flex: 1 1 auto;
}
#graph-contain > .mdl-card__actions {
	flex: 0 1 min-content;
}
canvas#graph {
	image-rendering: pixelated;
}
